*.ipr
*.iws
*.iml
target
.idea
*~
dbdeploy-ant/.classpath
dbdeploy-ant/.project
dbdeploy-ant/.settings
dbdeploy-cli/.classpath
dbdeploy-cli/.project
dbdeploy-cli/.settings
dbdeploy-core/.classpath
dbdeploy-core/.project
dbdeploy-core/.settings/org.eclipse.jdt.core.prefs
dbdeploy-dist/.classpath
dbdeploy-dist/.project
maven-dbdeploy-plugin/.classpath
maven-dbdeploy-plugin/.project
maven-dbdeploy-plugin/.settings/org.eclipse.jdt.core.prefs
dbdeploy-dist/bin/
dbdeploy-core/out/
dbdeploy-core/*.properties
dbdeploy-core/*dbdeploy-core*.xml
